select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #ffffff;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:rgb(0, 0, 0);
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    /* margin: 10px; */
    margin-bottom: 12px;
    margin-right: 3px;
    margin-left: 3px;
    /* bottom: 160px; */
    /* flex-shrink: 1; */
    display: flex;
    /* width: 244px; */
    height: 2.5em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: 5px;
 }
 .select::after {
    content: '\25BC';
    position: ab;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }