.App {
  text-align: center;
  display:flex;
  background-color: #4c4d4f;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* max-height: 1500px; */
  /* resize: vertical; */
  /* overflow-y:scroll; */
  /* min-height: 200px; */
  /* height: 100%; */
  
}

.sidemenu{
  position: relative;
  width: 260px;
  height: 100%;
  /* overflow:visible; */
  /* border: 1px solid white; */
  background-color: #202123;
  padding: 8px;
  align-items: center;
  position: relative;
  display: inline-block;
  /* resize: vertical; */
}

.footer{
  position: absolute;
  /* margin-top: 1050px; */
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  /* padding: 0px; */
  /* padding-top: 40px; */


}

.clearChat{
  position: relative;
  padding-left: 10px;
}

.clearChat-button{
  /* margin-top: 10px; */
  /* bottom: 100px; */
  position: absolute;
  bottom: 100px;
  width: 245px;
  height: 50px;
  /* position: absolute; */
  padding: 12px;
  border: 1px solid #4c4d4f;
  border-radius: 4px;
  /* background-color: white;
  color: black; */
  text-align: left;
  transition: ease 0.25s all;
  /* font-size: 0.8em; */

}

.clearChat-button:hover{
  /* margin-top: 10px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  color: black;
  text-align: left; */
  background-color: rgba(255, 255, 255, 0.1);

}
.clearChat-button span{
  padding-left: 4px;
  padding-right: 13px;

  /* font-size: 1.5em; */
}

.chatbox{
  width: 100%;
  flex: 1;
  height: 100%;
  /* overflow-y:scroll; */
  resize: none;
    /* border: 1px solid white; */
  background-color: #343541;
  position: relative;
  align-items:center;
  /* display: inline-block; */
  

}

.chat-log-outer{
  width: 100%;
  /* flex: 1; */
  height: 100%;
  resize: vertical;
  overflow-y:scroll;
  resize: none;
    /* border: 1px solid white; */
  background-color: #343541;
  /* position: relative; */
  align-items:center;
  padding-bottom: 80px;
}
.chat-log{
  text-align: left;
}

.chat-message.chatgpt{
  background-color: #444654;  
}

.chat-message{
  background-color: #343541;
}

.chat-message-center{
  z-index: 10;
  padding: 22px;
  padding-left: 24px;
  padding-right: 24px;
  flex-shrink: 0;
  
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.avatar{
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  /* z-index: 11; */
  position: relative;
  /* display: flex; */
  padding-bottom: 4px;
  /* color: black; */
}

.avatar.chatgpt{
  background: #0da37f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  /* display:block; */
  /* resize: none; */
  /* color: black; */
}

.message{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 4px;
}

.chat-input-holder{
  /* padding: 12px; */
  padding-left: 20px;
  padding-right: 20px;
  bottom: 0px;
  width: 100%;
  position: absolute;
  /* display: inline-block; */
  /* z-index: 1; */
}

.chat-input-textarea{
  background-color: #40414f;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  /* padding-top : 1rem; */
  padding-left: 0.75rem; 
  padding-right: 1.75rem;
  min-height: 50px;
  max-height: 200px;
  color : white;
  font-size: 1em;
  resize: none;
  border: none;
  max-width: 900px;
  border: none;
  /* overflow: hidden; */
  outline: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
