.App {
  text-align: center;
  display:flex;
  background-color: #4c4d4f;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  min-width: 500px;
  min-height: 385px;
  resize: vertical;
  
}

.CRDGPT{
  font-size: 2em;
  margin: 18px;
  font-weight: 700;
}

.sidemenu{
  position: relative;
  width: 260px;
  height: 100%;
  background-color: #202123;
  padding: 8px;
  align-items: center;
  position: relative;
  display: inline-block;
}

.footer{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: fit-content;
  background-color: #202123;  
  height: 200px;
  border-top: 1px solid white;
}

.TB3{
  font-size: 1.2em;
  margin: 16px;
  font-weight: 600;
}

.clearChat{
  padding-left: 10px;
}

.clearChat-button{
  margin: 10px;
  display: flex;
  padding: 12px;
  border: 1px solid #4c4d4f;
  border-radius: 4px;
  position: relative;
  text-align: left;
  transition: ease 0.25s all;
  cursor: pointer;
  

}

.clearChat-button:hover{
  background-color: rgba(255, 255, 255, 0.1);

}
.clearChat{
  padding-left: 10px;
}

.NewChat-button{
  margin-bottom: 5px;
  margin-right: 2px;
  margin-left: 2px;
  padding: 12px;
  display: flex;
  border: 1px solid #4c4d4f;
  border-radius: 4px;
  text-align: left;
  transition: ease 0.25s all;
  cursor: pointer;

}

.NewChat-button:hover{
  background-color: rgba(255, 255, 255, 0.1);

}
.NewChat-button span{
  padding-left: 4px;
  padding-right: 13px;
}

.chatbox{
  width: 100%;
  flex: 1;
  height: 100%;
  overflow: hidden;
  resize: none;
  background-color: #343541;
  position: relative;
  align-items:center;
  

}
::-webkit-scrollbar {
  width: 0;  
  background: transparent;
}
.chat-log-outer{
  width: 100%;
  height: 100%;
  resize: vertical;
  overflow-x: hidden;
  overflow-y:scroll;
  scroll-behavior: smooth;
  background-color: #343541;
  align-items:center;
  padding-bottom: 150px;
}
.chat-log{
  text-align: left;
}

.chat-message.chatgpt{
  background-color: #444654;  
}

.chat-message{
  background-color: #343541;
}

.chat-message-center{
  /* z-index: 10; */
  padding: 22px;
  padding-left: 24px;
  padding-right: 24px;
  flex-shrink: 0;
  
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  /* overflow: hidden; */
}
.avatar{
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  /* z-index: 11; */
  position: relative;
  flex-shrink: 0;
  /* display: flex; */
  padding-bottom: 4px;
  /* color: black; */
  align-items: center;
}

.avatar.chatgpt{
  background: #0da37f;
  border-radius: 50%;
  padding-left:8px;
  padding-top: 8px;
  width: 40px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  /* display:block; */
  /* resize: none; */
  /* color: black; */
}

.message{
  white-space: pre-line;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 4px;
}

.chat-input-holder{
  /* padding: 12px; */
  padding-left: 20px;
  padding-right: 20px;
  bottom: 0px;
  width: 100%;
  position: absolute;
  
  /* display: inline-block; */
    /* filter: blur(20px); */
  z-index: 3;
}
.chat-input-holder-outer1{
  background-color: #353740;
  padding: 0;
  bottom: 0px;
  width: 100%;
  height: 60px;
  left: 0;
  right: 0;
  position: absolute;
  opacity: 1.5;
  z-index: 5;
}

.chat-input-holder-outer{
  background-color: #353740;
  right: 0;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 60px;
  position: absolute;
  box-shadow: 0px 0px 100px rgb(48, 45, 45);
  filter: blur(20px);
  z-index: 1;

}
.chat-input-textarea{
  background-color: #40414f;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  /* padding-top : 1rem; */
  padding-left: 0.75rem; 
  padding-right: 1.75rem;
  min-height: 50px;
  max-height: 200px;
  color : white;
  font-size: 1em;
  resize: none;
  border: none;
  max-width: 800px;
  border: none;
  /* overflow: hidden; */
  outline: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
